## Postgres Service ##
PGDATA: /var/lib/postgresql/data
POSTGRES_USER: root
POSTGRES_PASSWORD: root

# Set timezone container
TZ: UTC

# Set PostgreSQL runtime
PGTZ: UTC

## pgAdmin Service ##
PGADMIN_DEFAULT_EMAIL: user@local.com
PGADMIN_DEFAULT_PASSWORD: root
# PGADMIN_CONFIG_SERVER_MODE: "False"
