APP_NAME="Auth Service"
APP_ENV=local
APP_KEY=base64:o3BKjt8KYkAOnM1t8WJFnTNkgPYqFips3AkvvVgPlAk=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=pgbouncer-local # postgres-local
DB_PORT=6432 # 5432
DB_HOST_DIRECT=postgres-local # for Migration (forced to pgsql_direct)
DB_PORT_DIRECT=5432 # for Migration (forced to pgsql_direct)
DB_DATABASE=db_multi_tenant_auth
DB_USERNAME=root
DB_PASSWORD=root

SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis
# QUEUE_REDIS_CONNECTION=default

CACHE_STORE=redis
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=redis-local
REDIS_USERNAME=default
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_PREFIX="multi-tenant:"

## Untuk testing lokal – email ditulis ke storage/logs/laravel.log
# MAIL_MAILER=log
# MAIL_SCHEME=null
# MAIL_HOST=127.0.0.1
# MAIL_PORT=2525
# MAIL_USERNAME=null
# MAIL_PASSWORD=null
# MAIL_FROM_ADDRESS="hello@example.com"
# MAIL_FROM_NAME="${APP_NAME}"

## Untuk production – gunakan SMTP / Mailgun / SES
MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=smtp.googlemail.com
# MAIL_PORT=465
MAIL_PORT=587
MAIL_USERNAME="webdev.istimewa@gmail.com"
MAIL_PASSWORD="cvychaxmbpswpsfw"
MAIL_FROM_ADDRESS="noreply@multi-tenant.com"
MAIL_FROM_NAME="${APP_NAME}"
# MAIL_ENCRYPTION=ssl
MAIL_ENCRYPTION=tsl

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

#--------------------------------------------------------------------
# Discord Web Hook URL
#--------------------------------------------------------------------
DISCORD_HOOK_HOST = 'https://discord.com/api/webhooks'
DISCORD_HOOK_ID = '1432331881898053682'
DISCORD_HOOK_TOKEN = 'BJwhw2DEpzkpXZa_HHAOM8tQGuBhjMKkTWgCzZonw09InOFT8X33lyVfis4zTlWI36mK'
DISCORD_WEBHOOK_URL="${DISCORD_HOOK_HOST}/${DISCORD_HOOK_ID}/${DISCORD_HOOK_TOKEN}"

#--------------------------------------------------------------------
# Application Services URL
#--------------------------------------------------------------------
API_SERVICE_KEY=PhKEZRetNHsvKbYuT00qpZi5jL1v4BMouX3z3cdM7PTIgWN2E7na1Mhf6NxSstRnD5ClI2ltLXu52pqCeQegPIfAmSB14rkomXOHjSw8W79hOVz4Z3lbrUTDWcsvkaxq8nAd9FQQj8gyVkpLCUfmGx

CONTROL_CENTER_SERVICE_NAME="ControlCenterService"
CONTROL_CENTER_SERVICE_URL=http://control-center-service:8000/api/v1/control-center/internal
CONTROL_CENTER_SERVICE_TIMEOUT=5
CONTROL_CENTER_SERVICE_RETRIES=1
CONTROL_CENTER_SERVICE_RETRY_DELAY=1200

#--------------------------------------------------------------------
# JWT
#--------------------------------------------------------------------
AUTH_GUARD="api"
AUTH_PASSWORD_BROKER="users"
JWT_SECRET=1DE1mMxW41iZ5UCTBrMl2Uue4xgZMd7LtDao36CUayWLjmrvzxry84yH6qtlwglq
## JWT token time to live (in minutes)
JWT_TTL=120 #60
## Refresh token time to live (in minutes)
JWT_REFRESH_TTL=20160

## Database for store JWT
REDIS_JWT_DB=1
JWT_BLACKLIST_ENABLED=false

## Time cache data user in redis (in seconds)
USER_CACHE_TTL=7200 #28800 #3600

## Time cache data role in redis (in seconds)
ROLE_CACHE_TTL=7200

## Time cache data permission in redis (in seconds)
PERMISSION_CACHE_TTL=7200

## Time cache data role permission in redis (in seconds)
ROLE_PERMISSION_CACHE_TTL=7200
