DB_HOST=postgres-local
DB_PORT=5432

ADMIN_USERS=postgres,dbuser # root
POOL_MODE=transaction # mode pooling connection
MAX_CLIENT_CONN=500 # jumlah maksimum koneksi dari aplikasi (services)
DEFAULT_POOL_SIZE=20 # jumlah koneksi backend ke PostgreSQL per database
MIN_POOL_SIZE=5
RESERVE_POOL_SIZE=5 # koneksi cadangan jika pool penuh

SERVER_IDLE_TIMEOUT=30 # tutup koneksi setelah 30 detik
SERVER_CONNECT_TIMEOUT=5
SERVER_LOGIN_RETRY=5

LOGFILE=/var/log/pgbouncer/pgbouncer.log
PIDFILE=/var/run/pgbouncer/pgbouncer.pid
VERBOSE=1 # true