# Kong Configuration
KONG_DATABASE=off
# KONG_HEADERS=off
KONG_LOG_LEVEL=info

# Auth Service
API_BASE_URL_AUTH=http://auth-service:8000

# Control Center Service
API_BASE_URL_CONTROL_CENTER=http://control-center-service:8000

# Tenant Service
API_BASE_URL_TENANT=http://tenant-service:8000

# Redis Configuration
REDIS_HOST=redis-local
REDIS_PORT=6379
REDIS_DATABASE=0
REDIS_TIMEOUT=2000
LIMIT_BY_IP=10 # 100 requests per window untuk IP
LIMIT_BY_USER=100 # 1000 requests per window untuk authenticated user
WINDOW_SIZE=60 # 60 detik (1 menit)

# Consumers
CONSUMERS_USERNAME=service-multi-tenant-client

# JWT Configuration
JWT_CLAIM_KEY=iss
JWT_CLAIM_VALUE=http://127.0.0.1:8000
JWT_SECRET_KEY=1DE1mMxW41iZ5UCTBrMl2Uue4xgZMd7LtDao36CUayWLjmrvzxry84yH6qtlwglq
JWT_ALGORITHM=HS256
